### Load dataset

In [48]:
import pandas as pd

RANDOM_STATE = 42
FILE_PATH = "../Data/patient_genes_literature.csv" # Can be replaced with desired variant for different feature sets
variant = 'svm'
df = pd.read_csv(FILE_PATH)

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 977 entries, 0 to 976
Data columns (total 32 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   FYN      977 non-null    int64
 1   BRCA1    977 non-null    int64
 2   FOXC1    977 non-null    int64
 3   TBC1D1   977 non-null    int64
 4   LAG3     977 non-null    int64
 5   CDK6     977 non-null    int64
 6   GATA3    977 non-null    int64
 7   CCND1    977 non-null    int64
 8   PRR4     977 non-null    int64
 9   EPCAM    977 non-null    int64
 10  CD274    977 non-null    int64
 11  PIK3CA   977 non-null    int64
 12  TOP2A    977 non-null    int64
 13  DCLK1    977 non-null    int64
 14  MYC      977 non-null    int64
 15  LRPPRC   977 non-null    int64
 16  BRCA2    977 non-null    int64
 17  TP53     977 non-null    int64
 18  MKI67    977 non-null    int64
 19  TTN      977 non-null    int64
 20  CTLA4    977 non-null    int64
 21  PTEN     977 non-null    int64
 22  YES1     977 non-null    int64
 23  YOD1     977 non-null    int64
 24  TACSTD2  977 non-null    int64
 25  ROR1     977 non-null    int64
 26  PDCD1    977 non-null    int64
 27  SRC      977 non-null    int64
 28  DDX3X    977 non-null    int64
 29  MALAT1   977 non-null    int64
 30  tnbc     977 non-null    bool
 31  case_id  977 non-null    object
dtypes: bool(1), int64(30), object(1)
memory usage: 237.7+ KB

### Imports

In [49]:
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC

%run "DataHelpers.ipynb"

### Dataset split: training and test data

### Prepare SMOTE

In [52]:
# Om SMOTE data te zien, extra colom
df['smote_check'] = df['tnbc'] 

# Features: all columns except target column
X = df.drop(columns=['tnbc', 'case_id'])
# Target variable
y = df['tnbc']

### Execute SMOTE

In [54]:
# SMOTE 
sm = SMOTE(random_state=42) # can have different parameters
X_res, y_res = sm.fit_resample(X, y)

In [55]:
print(X_res[X_res['smote_check'] == True].count())
print(X_res[X_res['smote_check'] == False].count())

y_res

FYN            862
BRCA1          862
FOXC1          862
TBC1D1         862
LAG3           862
CDK6           862
GATA3          862
CCND1          862
PRR4           862
EPCAM          862
CD274          862
PIK3CA         862
TOP2A          862
DCLK1          862
MYC            862
LRPPRC         862
BRCA2          862
TP53           862
MKI67          862
TTN            862
CTLA4          862
PTEN           862
YES1           862
YOD1           862
TACSTD2        862
ROR1           862
PDCD1          862
SRC            862
DDX3X          862
MALAT1         862
smote_check    862
dtype: int64
FYN            862
BRCA1          862
FOXC1          862
TBC1D1         862
LAG3           862
CDK6           862
GATA3          862
CCND1          862
PRR4           862
EPCAM          862
CD274          862
PIK3CA         862
TOP2A          862
DCLK1          862
MYC            862
LRPPRC         862
BRCA2          862
TP53           862
MKI67          862
TTN            862
CTLA4          862
PTEN           862
YES1           862
YOD1           862
TACSTD2        862
ROR1           862
PDCD1          862
SRC            862
DDX3X          862
MALAT1         862
smote_check    862
dtype: int64

0       False
1       False
2       False
3       False
4       False
        ...
1719     True
1720     True
1721     True
1722     True
1723     True
Name: tnbc, Length: 1724, dtype: bool

### Example: Calling Datahelpers
#### Dit zijn stappen hierboven geimplementeerd in methode

In [57]:
X, y, X_train, X_test, y_train, y_test, test_case_id = split_data_apply_smote(df, "tnbc")

X_train.shape=(1379, 31)
X_test.shape=(345, 31)
y_train.shape=(1379,)
y_test.shape=(345,)